HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

.idea/
out/
.settings/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

*.log
logs/

.env
application-secret.yml
application-local.properties
application-dev.yml

*.wav
*.mp3
*.ogg
*.flac
/test-audio/

*.pt
*.pth
*.h5
*.onnx
/models/
/datasets/
